<h1 align="center">SCROOGE</h1>
<div style= "width: 400px;margin:auto">
	<img style="width: 400px" src="https://i.imgur.com/ZjncrTd.jpg">
</div>

<%= link_to('Log in with Facebook!', '/auth/facebook') %>
 
