<h1>SELECTED BUDGET</h1>
<h2><%= @budget.name %></h2>
<h3><%= @budget.amount %></h3>
<br>

<p><%= link_to "See Transactions", transactions_path(@budget) %></p>
<p><%= link_to "Edit Budget", edit_budget_path(@budget) %></p>